{% extends 'main.twig' %}

{% block title %}SMRTB workbench{% endblock %}


{% block stylesheetsandscripts %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atelier-heath-dark.min.css" />
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.14/beautify.js"></script>
{% endblock %}





{% block body %}

<div class="row">



    <div class="col-sm-4">
        {% include 'ComplexJobList.twig' %}
    </div>






    {% if job %}
        <div class="col-sm-4">
            {% if job.getState()==0 %}            
                {% include 'ComplexJobEdit.twig'%}
            {% else %} 
                {% include 'ComplexJobDetails.twig'%}            
            {% endif %}
        </div>
        
        <div class="col-sm-4">
            {% if job.getState()==0 %}            
                <div class="alert alert-danger">project editor testbed will be displayed here</div>
            {% elseif job.getState()==1 %} 
                <div class="alert alert-danger">Join/Start project button will be displayed here</div>
            {% elseif job.getState()<6 %} 
                <div class="alert alert-danger">Join project button / work log console will be displayed here</div>
            {% else %}
                <div class="alert alert-danger">Worker statistics will be displayed here</div>
            {% endif %}
        </div>
               
        
    {% else %}
        <div class="col-sm-2"></div>
        <div class="col-sm-4"> 
            <div class="alert alert-info">No project selected yet, click/tap one on the left, or <a href="{{ path('complexNewJob') }}">create a new one</a>.</div>
        </div>
        <div class="col-sm-2"></div>
    {% endif %}
   
    
</div>

{% endblock %}

