{% extends 'main.twig' %}

{% block title %}List of jobs{% endblock %}

{% block body %}

{% for state in states %}
    <h2> Jobs {{state.text}} </h2>
    {{ 
        render(controller(
            'AppBundle:List:jobs', 
            { 'state': state.number }
            )) 
    }}
{% endfor %}


{% endblock %}

